@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";

@theme {
    --color-primary-50: #ebffd8;
    --color-primary-100: #ceeab3;
    --color-primary-200: #98cba8;
    --color-primary-300: #6dab9c;
    --color-primary-400: #4d898b;
    --color-primary-500: #3b6874;
    --color-primary-600: #2f4858;
}

body {
    font-family: "Manrope", sans-serif;
}
